*{
    margin:0;
    padding:0;
  }
  
  body{
    font-family: 'Raleway', arial;
    background-color:#2C268A;
    color:white;
    font-size: 22px;
    text-align: center;
  }
  
  #main-header {
      background: #333;
      color: white;
      height: 80px;
  
  }
  
  #main-footer {
      background: #333;
      color: white;
      text-align: center;
      padding: 27px;
      margin-top: 3px;
  }
  #main-footer p {
          margin: 0;
  }
  #main-footer a {
          color: white;
  }
  
  #contenedor{
    display:grid;
    border: 1px solid white;
    grid-template-columns: 0.25fr 1fr 0.25fr;
    grid-template-rows:  2vh 42vh 18vh 18vh;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
  }
  
  #contenedor .foto{
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
  }
  #contenedor .foto img{
    width: 100%;
    height: 100%;
  }
  
  #contenedor .texto1{
    grid-column: 2/3;
    grid-row: 3/5;
    position: relative;
    border: 2px solid white;
  }